// Light Theme
$background-color: $snow-light;
$text-color: $polar-dark;
$input-color: $frost-dark;
$input-outline-color: $frost-dark;
$input-focus-color: $snow-medium;

// Dark Theme
$dark-background-color: $polar-dark;
$dark-text-color: $snow-light;
$dark-input-color: $frost-light;
$dark-input-outline-color: $polar-lightest;
$dark-input-focus-color: $polar-medium;

/**
 * Dark Mode.
 */
html.dark-mode {
  color: $dark-text-color;
  background-color: $dark-background-color;

  body,
  input,
  label {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }

  input:focus {
    &::before {
      background-color: $dark-input-focus-color;
    }

    box-shadow: $dark-input-outline-color;
  }

  button {
    color: $dark-background-color;
    background-color: $dark-text-color;
    border-color: $dark-text-color;
    transition: $longer-duration $ease-out-curve;

    &:hover {
      background-color: rgba($dark-text-color, 0.8);
      background-color: rgba($text-color, 0.8);
    }

    &:active {
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $input-outline-color;
      transition: $longer-duration $ease-out-curve;
      outline: none;
    }

    &.outline {
      background-color: $dark-background-color;
      color: $dark-text-color;
      border-color: $dark-input-color;

      &:hover {
        background-color: rgba($dark-input-outline-color, 0.8);
      }
    }
  }

  input[type='text'] {
    border-color: $dark-input-color;
  }
}
