/** @format */

button {
  display: inline-block;
  margin: 0 0.8rem;
  padding: 0.8rem 1.6rem;
  background-color: $text-color;
  color: $background-color;
  border-radius: 0.4rem;
  border: $text-color solid 0.2rem;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;

  &:active {
    background-color: rgba($text-color, 0.8);
  }

  &:hover {
    background-color: rgba($text-color, 0.8);
  }

  &.outline {
    color: $text-color;
    border-color: $input-color;
    background-color: $background-color;
  }
}
